/* Flexbox */
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.header__logo-img {
    width: 50px;
}

/* Vertically center */
.items-center {
    align-items: center;
}