@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --lightblue: #4187ff;
    --blue: #0151cd;
    --white: #fff;
    --teal: #04ffff;
    --lightgray: #f7f7f7;
    --orange: #fa5c00;

    --container-width: 1400px;
}

* {
    box-sizing: border-box;
    margin: 0;
    pad: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: var(--lightblue);
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 30px 30px;
}

/* Navbar */
.navbar {
    background: var(--lightblue);
    color: var(--white);
    height: 70px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: var(--teal);
}

.navbar .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}
/* Navbar End */

.header {
    background-color: var(--blue);
    color: var(--white);
    min-height: 450px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 300px;
    margin-left: 100px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Content Boxes */
.boxes .container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.box {
    flex-basis: 300px;
    flex-grow: 1;
    background: var(--blue);
    color: var(--white);
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .header img {
        margin: auto;
        margin-top: 30px;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}