/* Box Sizing */
.m-8 {
    margin: 8px;
}

.p-8 {
    padding: 8px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-18 {
    padding-top: 18px;
    padding-bottom: 18px;
}

.px-12 {
    padding-right: 12px;
    padding-left: 12px;
}

.px-28 {
    padding-right: 28px;
    padding-left: 28px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-20 {
    margin-right: 20px;
}

.px-16 {
    padding-right: 16px;
    padding-left: 16px;
}

/* Width */
.w-full {
    width: 100%;
}